@import "@/styles/imports";

.layout {
	height: 100%;
	width: 100%;
	background-color: $col-grey-10;
}

.layout_breadcrumbs {
	padding: 5rem 14.3rem 1.5rem;
}

.layout_breadcrumbsBtn {
	opacity: 0.5;
	column-gap: 1.6rem;
	padding: 0;

	@include flex(flex-start, center, nowrap);
}

.layout_breadcrumbsText {
	font-weight: 550;
}

.layout_content {
	padding: 16.4rem 4rem 10rem;
	width: 100%;
	position: relative;
	transition: $all-transition;
	@include screenMax("tablet") {
		width: 100%;
	}
	@include screenMax("mobile") {
		padding: 16.4rem 2.4rem 10rem;
		width: 100%;
	}
}
