@import '@/styles/imports';

.layout {
  height: 100%;
  width: 100%;
  background-color: $col-grey-10;
}

.layout_breadcrumbs {
  padding: 5rem 14.3rem 1.5rem;
}

.layout_breadcrumbsBtn {
  opacity: 0.5;
  column-gap: 1.6rem;
  padding: 0;

  @include flex(flex-start, center, nowrap);
}

.layout_breadcrumbsText {
  font-weight: 550;
}

.layout_content {
  padding: 14rem 8.8rem 5.6rem;
  color: $col-white;

  //   @include screenMax("sm-desktop") {
  //     padding: 5rem 10rem;
  //   }
  @include screenMax('tablet') {
    padding: 12rem 3.5rem 1rem;
  }
  @include screenMax('mobile') {
    padding: 12rem 1.5rem 1rem;
  }
}
