@import "@/styles/imports";

.gift_block {
	max-width: 40rem;
	margin-top: 6.6rem;
	.icon {
		position: relative;
		width: 12rem;
		height: 12rem;
		margin-bottom: 2.4rem;
	}
	.text {
		h1 {
			@extend %title-32;
			font-family: $font-700;
			color: $col-grey-1;
			margin-bottom: 1.6rem;
		}
		p {
			@extend %text-14;
			color: $col-grey-4;
		}
	}
}
