@import "@/styles/imports";

.section {
	display: block;
	.container {
		@include grid(repeat(2, 1fr), 0.8rem);
		border: 0.1rem solid $col-grey-8;
		border-radius: 10rem;
		width: 19rem;
		background-color: $col-grey-9;
		padding: 0.4rem;
		.button_container {
			padding: 0;
			.button {
				padding: 0.4rem 1.6rem;
				@extend %text-14;
				font-family: $font;
				color: $col-grey-4;
				border-radius: 10rem;
				&[data-active="true"] {
					background-color: $col-primary-4;
					font-family: $font-700;
					color: $col-grey-1;
				}
			}
		}
		@include screenMax("mobile") {
			margin: 2.4rem 0;
			width: 100%;
		}
	}
	.row {
		@include flex(space-between);
		margin-top: 2.4rem;
	}
	.block {
		width: 40rem;
		.arrow_icon {
			position: relative;
			width: 37rem;
			height: 24rem;
			margin-top: 4rem;
		}
	}
	.text {
		h3 {
			@extend %title-32;
			font-family: $font-700;
			margin-bottom: 1.6rem;
		}
		p {
			@extend %text-16;
			color: $col-grey-4;
		}
	}
	@include screenMax("mobile") {
		.block {
			margin-bottom: 4rem;
			.arrow_icon {
				display: none;
			}
		}
		.block_large {
			width: 100%;
		}
	}
}
